<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <link rel="stylesheet" href="~/Content/themes/flat/jquery-ui-1.10.3.css"/>
    <script src="/Scripts/bootstrap.min.js"></script>
</head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">ControlT</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li id="btnMovimientos">
                            @Html.ActionLink("Movimientos", "Index", "Movimientos")
                        </li>
                        <li id="btnResumen">
                            @Html.ActionLink("Resumen", "Index", "Resumen")
                        </li>
                        <li id="btnCajas">
                            @Html.ActionLink("Cajas", "Index", "Cajas")
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            @RenderBody()

            @RenderSection("scripts", required: false)
        </div>
</body>
</html>
